asgiref==3.8.1
django==5.1.1
django-browser-reload==1.15.0
django-tailwind==3.8.0
pillow==10.4.0
sqlparse==0.5.1
tzdata==2024.1
django-crispy-forms
crispy_bootstrap5
requests
wikipedia
youtube-search-python































